body {
    display: flex;
    justify-content: center;
}

.etch-a-sketch-outside {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    max-width: 800px;
    height: 800px;
    background-color: brown;
}

.etch-a-sketch-outside > div {
    background-color: rgb(98, 98, 255);
    flex: 1;
    display: flex;
    align-items: stretch;
}

.etch-a-sketch-outside > div > div {
    background-color: red;
    flex: 1;
}